# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames
start essentialmode
start es_admin2
start RPDeath
start lux_vehcontrol
start 2016-chp-megapack
start bcpack
start deleteveh
start pdmegapack
start cuff-handsup-master
start hwayped
start vSync
start savewheelpos
start sheriffped
start rims
start emotes
start policeped
start glock17
start carhud
start fivem-loadingscreen-2
start vk_handsup-master
start ArrestAnims
start radarplus
start policegangunit
start wk_vehdamage
start advancedfuel
start disableoverhead
start unmarkedpack
#start taurus
add_ace resource.essentialmode command.add_principal allow
#start explorer

sv_scriptHookAllowed 1

# change this
rcon_password dab

sv_hostname "San Andreas State Emergency Roleplay | Whitelisted | Join at SASERP.cf"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon mylogo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_principal identifier.steam:1100001107915E0 group.admin # add the admin to the group

# remove the # to hide player endpoints in external log output
#sv_endpointprivacy true

# server slots limit (default to 32)
sv_maxclients 32

# license key for server (https://keymaster.fivem.net)
sv_licensekey cqc7xkdeqr0yeb8m6bs2hdborbh21lc9